#container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: #f1b71c url('../../assets/bg1.png') no-repeat center;
  background-size: cover;
}

form {
  width: 450px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #f7fafc;
  border-radius: 10px;
  padding: 30px;
}

form p {
  margin: 35px 0px;
  color: #727272;
}

form .form-input {
  height: 47px;
  width: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
  padding-left: 10px;
  border-radius: 4px;
  box-shadow: 0 3px 5px -2px #35353542;
  margin-bottom: 20px;
}

form .form-input input {
  height: 100%;
  width: 90%;
  padding: 0 10px;
  font-size: 15px;
  border: 0;
  border-radius: 0 4px 4px 0px;
}

form .form-input input::placeholder {
  color: rgb(153, 153, 153);
}

form button {
  height: 47px;
  width: 100px;
  border-radius: 5px;

  background-color: #f1b71c;

  color: #fff;
  cursor: pointer;
  font-size: 14px;

  transition: all 0.3s;
}

form button:hover {
  background-color: #cf9e17;
}

a {
  color: #ffffff;
  text-decoration: none;
  margin: 30px 0px;
}
